In [3]:
import os
import pandas as pd

In [14]:
annotation_path = '../datasets/BMW/meta/bmw.csv'
# annotation_path = '/nfs/students/winter-term-2020/project-1/datasets/BMW/meta/bmw_trimmed.csv'
if os.path.isfile(annotation_path):
    csv_data = pd.read_csv(annotation_path)

In [15]:
csv_data.pivot_table(index=['fold'], columns='classID', aggfunc='size', fill_value=0)

classID  0  1   2   3   4  5
fold
1        3  4  13  24  14  3
2        2  5  13  24  14  3
3        2  4  14  24  14  3
4        2  4  14  24  14  3
5        2  4  13  25  14  3
6        2  4  13  25  14  3
7        2  4  13  25  13  4
8        2  4  13  25  13  3
9        2  4  13  25  13  3
10       2  4  13  25  13  3
11       2  4  13  24  14  3